wikipedia
pywhatkit
screen_brightness_control
pycaw
numpy
pandas
scipy
cv2
PyDictionary
pocketsphinx
SpeechRecognition
google
folium
py2pdf
ffmpeg
pywin
openai
openweather
twilio
geolocation-python
mouse
keyboard
pyautogui
calendar
shazamio
newspaper3k
pathlib
shutil
aspose-words