wikipedia
pywhatkit
screen_brightness_control
pycaw
numpy
pandas
scipy
opencv-python
PyDictionary
pocketsphinx
SpeechRecognition
google
folium
ffmpeg
pywin32
openai
sinch
mouse
keyboard
pynput
pyautogui
shazamio
newspaper3k
pathlib
aspose-words
schedule
pyjokes
spotipy
pygame
pywikihow
geopy
geocoder
cryptography
python-dotenv
pyserial